*{
    box-sizing: border-box;
    margin: 5px;
}

/* ----- first section ----- */
.first-section{
     margin: auto;
    height: 100vh;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box3 box4";
}

.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}

.first-section div p{
    width: 175px;
    color:#656565;
    font-family: 'Work Sans', sans-serif;
}
.first-section div h1{
    color: #88c39c;
    font-family: 'Montserrat', sans-serif;

    font-family: 'Noto Sans JP', sans-serif;

    font-family: 'Work Sans', sans-serif;
}


/* ---- SECOND SECTION ----*/

.vh{
    height: 100vh;
}
.second-section{
    border: 10px solid #f2f2f2e3;
    border-radius: 5px;
    color: #fff;
    padding:5px 20px;
    margin: 0 auto;
    background-color: #468df1;
    height:600px;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    
}
.sec2h1{
    font-size:25px;
}
.text{
    font-size: 12px;
}
hr{
    color: #fff;
    opacity: 0.3;
}
.p90{
    padding-bottom: 30px;
    color:#fff ;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.top-views{
  margin-bottom: 0;
}
.graph{
    padding-top: 20px;
    width: 290px;
}


.top-pages{
    display: grid;
    grid-template-columns: 9fr 1fr;

}

.pages{
    font-size: 16px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.pages1{
    display: flex;
    justify-content: flex-end;
}



/* ---- THIRD SECTION ----*/

.third-cover{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.third-section{
    font-size: 2rem;
	display: flex;
	border: solid #839192 1px;
	width: 600px;
	height: 300px;
    margin: 10px 0;
    padding:0px;
    box-shadow: 0px 0px 5px  #aab4b5e7; 
    font-family: 'Montserrat', sans-serif;
}
.author{
	display: flex;
	margin-top: 80px;
}
.sec3{
	width: 60%;
	padding: 20px
}
.imgsec3{
	background-image: url("./images/sec3.jpg");
	background-size: cover;
	width: 40%;
	height:96%;
}

.imgjosaih{
	background-image: url("./images/Josiah.jpg");
	background-size: 120%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.box_text{
	margin: auto;
	margin-top: -20px;
}
.main-txt-sec3{
	font-size: 20px;
}

.sec3p1{
	font-size: 18px;
	
}
.sec3p2{
	font-size: 16px;
	margin-top: -5px;
}

.text-author{
	padding-left: 12px;
}
.sec3h2{
	font-size: 14px;
    display: block;
    
}
.sec3p{
	font-size: 14px;
	margin-top: -5px;
}

.box-author{
	display: flex;
	align-items: center;
}


@media only screen and (max-width:438px){
    .first-section{
        height: 100vh;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 650px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "box1"
         "box2"
         "box3" 
         "box4";
         align-items: center;
    }
    
    .second-section{
    border: 10px solid #f2f2f2e3;
    border-radius: 5px;
    color: #fff;
    padding:5px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #468df1;
    height:600px;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    
}
    .author{
	display: flex;
	margin-top: 10px;
}
    
    .main-txt-sec3{
	font-size:14px;
}
    imgjosaih{
	background-image: url("./images/Josiah.jpg");
	background-size: 158%;
    background-position: 43px 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.main-txt-sec3{
	font-size: 12px;
}

.sec3p1{
	font-size: 16px;
	
}

    .box1{
        grid-area: box1;
        margin: 0 auto;
    }
    .box2{
        grid-area: box2;
        margin: 0 auto;
    }
    .box3{
        grid-area: box3;
        margin: 0 auto;
    }
    .box4{
        grid-area: box4;
        margin: 0 auto;
    }
    

}

@media only screen and (max-width:580px){
    .first-section{
        height: 100vh;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 650px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "box1"
         "box2"
         "box3" 
         "box4";
         align-items: center;
    }
    
    .second-section{
    border: 10px solid #f2f2f2e3;
    border-radius: 5px;
    color: #fff;
    padding:5px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #468df1;
    height:600px;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    
}
    .author{
	display: flex;
	margin-top: 10px;
}
    
    .main-txt-sec3{
	font-size:14px;
}
    imgjosaih{
	background-image: url("./images/Josiah.jpg");
	background-size: 90%;
    background-position: 43px 70px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.main-txt-sec3{
	font-size: 14px;
}

.sec3p1{
	font-size:16px;
	
}

    .box1{
        grid-area: box1;
        margin: 0 auto;
    }
    .box2{
        grid-area: box2;
        margin: 0 auto;
    }
    .box3{
        grid-area: box3;
        margin: 0 auto;
    }
    .box4{
        grid-area: box4;
        margin: 0 auto;
    }
    

}


@media only screen and (max-width:768px){
    .first-section{
        height: 100vh;
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "box1 box2"
         "box3 box4";
         align-items: center;
    }

    .box1{
        grid-area: box1;
        margin: 0 auto;
    }
    .box2{
        grid-area: box2;
        margin: 0 auto;
    }
    .box3{
        grid-area: box3;
        margin: 0 auto;
    }
    .box4{
        grid-area: box4;
        margin: 0 auto;
    }
    



}